
body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.navbar-brand {
    font-weight: bold;
}

.card {
    margin-bottom: 20px;
}

footer {
    margin-top: 40px;
    padding: 20px;
    background-color: #222;
    color: white;
    text-align: center;
}


.kissa-kuva {
    width: 100%;        /* täyttää kortin leveyden */
    height: 220px;      /* kaikki saman korkuisia */
    object-fit: cover;  /* EI venytä, rajaa siististi */
}
``